body{
	margin:0;
	padding:0;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
}
p.colorline{
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 20px;
	background-color: #074f7a;
	border-bottom: 3px solid #074f7a;
}
#contain{
	width: 1000px;
	margin: 55px auto 0 auto;
	text-align: left;
}

#header{
	text-align: right;
	font-size: .8em;
	height: 100px;
	padding: 0;
	background-color: #99bbff;
}

#banner{
  float: left;
  text-align: center;
  width: 15%;
}
#header #login{
  float: right;
	height: 102px;
	margin: 8px;
	padding-left: 25px;
  width: 75%
}
#header h1{
	margin: 8px 0 8px 0;
	padding: 0;
}
#header h3{
	padding: 0;
	margin: 0 0 5px 0;
}

/*     CONTENT     */
.museos{
  text-align: center;
}

#right{
	float: right;
	width: 300px;
	padding-bottom: 30px;
}

.block{
	border-top: 2px solid #074f7a;
	border-bottom: 2px solid #074f7a;
	background-color: #ebf5fb;
	margin-top: 15px;
	font-size: .9em;
}
a{
	color: #074f7a;
}
a:hover{
	color: #db55aa;
	text-decoration: underline;
}
.block a{
	text-decoration: none;
}
.block ul{
	list-style-image: url(arrow.gif);
}
.block li{
	line-height: 1.3em;
}
.block p{
	padding: 0 10px 5px 10px;
}
.block strong{
	position: relative;
	top:6px;
	left: 10px;
}

/*
	Main Content
*/
#info{
	float: left;
	width: 530px;
	text-align: center;
}

#left{
	float: left;
	width: 430px;
	padding-bottom: 30px;
}
#left h1{
	font-size: 1.4em;
}
#left h2{
	font-size: 1.2em;
	color: #7B1314;
}
#left h3{
	font-size: 1.1em;
}
#left h4{
	border-bottom: 1px solid #7B1314;
}
blockquote{
	border-top: 2px solid #e6f9ff;
	border-bottom: 2px solid #e6f9ff;
	background: #074f7a url(quote.gif) no-repeat;
	margin-top: 15px;
	padding: 0 25px 0 25px;
	font-size: .9em;
}

#comentarios{
	clear: both;
	text-align: center;
	padding-bottom: 30px;
}
#lista{
	 text-align: left;
}

#listamuseos{
	padding-bottom: 30px;
}

.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 15px;
	color:#fff;
	background:#074f7a;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#99bbff;
}

#perfil{
	width: 1000px;
	margin: 0px auto 0 auto;
	overflow:hidden;
}
#registro{
	text-align: right;
}
#immagenRengistro{
	text-align: left;
	margin-top: 40px;
}
/*
	Footer
*/
#pie{
	position: fixed;
	width: 100%;
	bottom: 0;
	clear: both;
	font-size: .8em;
	padding-top: 15px;
	text-align:center;
}
p.finalline{
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 25px;
	background-color: #99bbff;
	border-bottom: 3px solid #99bbff;
	text-align: center;
}
/* Main menu (tabs) */
nav {
position : absolute;
left : 0;
width : 100%;
background : #074f7a;
}
nav ul {
margin : 0 auto;
width : 940px;
list-style : none;
}
nav ul li {
float : left;
}
nav ul li a {
display : block;
margin-right : 20px;
width : 140px;
font-size : 20px;
line-height : 44px;
text-align : center;
text-decoration : none;
color : white;
}
nav ul li a:hover {
color : #fff;
}
nav ul li.selected a {
color : #fff;
}
