{% extends "new_base.html" %}
{% load staticfiles %}

{% block contents %}

<div id="about">
  <h1 style="text-align: left;"> ¡Bienvenido a Museos de Madrid! </h1>
  {% csrf_token %}
  <p align="justify">Estas leyendo el apartado de “About” aquí te ofrecemos información sobre el
  funcionamiento y lo que puedes encontrar en nuestra página. Siempre podrás volver
  a la pagina principal pinchando “Inicio” o el logo situado en la parte superior
  izquierda.</p>
  <p align="justify">En esta página encontrarás todos los museos de la Comunidad de Madrid. Para
  que puedas ver toda su  información relevante, horarios, como llegar etc .
  El funcionamiento de la página es muy sencillo y apto para todos los públicos.
  Como habrás podido observar al entrar existe un botón donde podrás cargar todos
  los museos, es tan sencillo como pinchar y ¡Listo! . Ya los tienes todos a tu
  disposición. </p>
  <p align="justify"> En la página principal o de inicio podrás ver aquellos museos donde la gente ha dejado mas comentarios o donde hay comentarios, para que además puedas ver cuales son los mas recomendados o los que por el contrario tiene criticas negativas. Además en la parte superior de este apartado hay un botón donde si pinchas podrás ver cuales de ellos son accesibles (aptos para todos). Y cuando quieras volver a ver los de antes solo tendrás que volver a pinchar en ese mismo botón y los podrás ver de nuevo.</p>
  <p align="justify">En la barra de inicio tendrás otra opción para ver todos los museos, además
  no te preocupes por que si quieres ver cuales están en tu zona solo tendrás que
  buscarla en el seleccionador que se encuentra en la parte superior para ver cuales
  puedes encontrar cerca de ti.</p>
  <p align="justify">Si quieres formar parte de esta comunidad, dejar tus opiniones o crear tu propia
    página personal y guardar ahí los museos que hayas visitado o los que quieras visitar,
    solo tienes que :</p>
    <ul>
	     <li>Regístrarte en la parte superior derecha  la cual te llevará a
       una pagina de registro donde tendrás que rellenar unos sencillos datos.</li>
	     <li>Una vez registrado, busca el museo que quieras, accede a su página en “Mas información”
       y pincha en “favorito”.</li>
	     <li>En el momento en que ya no los quieras ver en tu pagina personal
       solo tendrás que hacer lo mismo de antes y pulsar en “Quitar”.</li>
	     <li>Recuerda que solo podrás tener estas ventajas si estas registrado.</li>
       <li>Cuando quieras salir de cuenta solo tendrás que pinchar en la parte superior derecha en “logout”.</li>
    </ul>

    <h3>¡Gracias por visitarnos!</h3>
    <h4>Pagina creada por Paula Miño Pliego</h4>
  </div>
{% endblock %}
