{% load staticfiles %}
<html>
<body>
  {% if request.user.is_authenticated %}
    <p>Logged in as {{ request.user.username }} <a href="/logout">Logout</a></p>
  {% else %}
    <form method="post" action="/login">
    {% csrf_token %}
    <p>Username: <input type="text" name="username"/></p>
    <p>Password: <input type="password" name="password"/></p>
    <p><input type="submit" value="Login"/></p>
    </form>
  {% endif %}
  {% if museos %}
    <p>HAY MUSEOS</p>
  {% else %}
    <a href="/cargar">Cargar Museos</a>
  {% endif %}
</body></html
