{% extends "new_base.html" %}
{% load staticfiles %}

{% block contents %}
<div id="right">
<div class="block">
<strong>Página de usuarios</strong>
<ul>
  {% if paginas %}

    {% for p in paginas %}
            <li>{{p.usuario}}:<a href="/{{p.usuario}}"> {{p.titulo}} </a></li>
    {% endfor %}

  {% else %}
      <li>No hay páginas de usuarios disponibles</li>
  {% endif %}
  </ul>

</div>
</div>

<div id="left">
  <div class="museos">
    {% if museos %}
      {% if accesibles %}
        <h3>Museos con mas comentarios y accesibles</h3>
        <form action="/">
          <p><input type="submit" value="Museos Todos"/></p>
        </form>
      {% else %}
        <h3>Museos con mas comentarios</h3>
        <form action="/" method="get">
          <p><input type="submit" name="accesibles" value="Museos Acesibles"/></p>
        </form>
      {% endif %}

      {% if museos_comentarios %}
          <br>
          {% for m in museos_comentarios %}
                  <div>Nombre: <a href="{{ m.url }}">{{ m.nombre }}</a></div>
                  <div>Dirección: {{ m.direccion }}</div>
                  <div><a href="/museos/{{m.id}}">Mas información</a></div>
                  <hr>
          {% endfor %}
      {% else %}
          <p>No hay museos con comentarios</p>
      {% endif %}
    {% else %}
      <h3>Bienvenido a Museos de Madrid</h3>
      <input type="button" value="Cargar Museos" onClick="window.location.href='/cargar'">

    {% endif %}
  </div>
  <div>
    <section class="paginacion">
      <ul>
            {{ paginacion|safe }}
      </ul>
    </section>
  </div>
</div>
{% endblock %}
