{% extends "new_base.html" %}
{% load staticfiles %}

{% block contents %}

<div id="info">
  <h3>{{museo.nombre}}
  {% if request.user.is_authenticated %}
    {% if not seleccionado %}
      <form method="post" action="/museos/{{museo.id}}">
      <input type="submit" name="favorito" value="Favorito"/></p>
      </form>
    {% else %}
      <form method="post" action="/museos/{{museo.id}}">
      <input type="submit" name="quitar" value="Quitar"/></p>
      </form>
    {% endif %}
  {% endif %}
  </h3>
  <p> {{ museo.descripcion_entidad}}
  <p>{{ museo.descripcion }}</p>
  <p><strong>Horario:</strong> {{ museo.horario }}</p>
  <p><strong>Como llegar: </strong>{{ museo.transporte }}</p>
  <p><strong>Dirección: </strong>{{ museo.direccion }}, {{ museo.localidad }}, {{ museo.provincia }}</p>
  <p>Barrio: {{ museo.barrio }}. Distrito: {{ museo.distrito }}</p>
  <p>{{ museo.ubicacion }}</p>
  <h5>Datos de contacto:</h5>
  <p>Teléfono: {{ museo.telefono }}</p>
  <p>Correo: {{ museo.email }}</p>
</div>

<div id="right">
{% if request.user.is_authenticated %}
  <form method="post" action="/museos/{{museo.id}}">
  <p>Comentario: </p><p><textarea name="contenido" style="resize:none;" maxlength="400" rows="10" cols="40"></textarea></p>
  <input type="submit" name="comentando" value="Enviar"/></p>
  </form>
{% else %}
  <h4>Registrate para poder poner comentarios</h4>
{% endif %}
</div>
<div id=comentarios>
  <h2> Comentarios: </h2>
  {% if comentarios %}
    <div id=lista>
      {% for c in comentarios %}
              <div>Contenido: {{ c.contenido }}</div>
              <hr>
      {% endfor %}
  {% else %}
      <p>No tiene comentarios disponibles</p>
  {% endif %}
  </div>
</div>


{% endblock %}
