{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <link rel="shortcut icon" href="{% static 'images/favico.ico' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body>
<p class="colorline"></p>


<div id="header">
  <div id="banner">
    <a href="/"><img src="{% static 'images/museo.png' %}" alt="Inicio" width="250px" height="99px"></a>
  </div>
  <div id="login">
  {% if request.user.is_authenticated %}
    <div>
    Logged in as {{ request.user.username }} <a href="/logout">Logout</a>
    </div>
  {% else %}
    <form method="post" action="/login">
    {% csrf_token %}
    <p>Username: <input type="text" name="username" size="8"/> Password: <input type="password" name="password" size="8"/>
    <input type="submit" value="Login"/></p>
    <p>¿No estas registrado? <a href="/registro">Registrate</a></p>
    </form>
  {% endif %}
</div>
</div>
<nav>
        <!-- Listado de Navegación -->
        <ul class="menu">
            {% if not home %}
              <li><a href="/">Inicio</a></li>
            {% endif %}
            <li><a href="/museos">Todos</a></li>
            <li><a href="/about">About</a></li>
        </ul>
</nav>
<div id="contain">


{% block contents %}
{% endblock %}


</div>
<footer id="pie">
  <p class="finalline"><span>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Madrid</a></span></p>
</footer>
</body>
</html>
