{% extends "new_base.html" %}
{% load staticfiles %}

{% block contents %}


<div id="left">
  <div id="registro">
    <h1 style="text-align: left;"> Página de Registro: </h1>
    <p style="color: red;">{{error}}</p>
    <form method="post" action="/registro">
    {% csrf_token %}
    <p>Nombre: <input type="text" name="nombre"/></p>
    <p>Apellidos: <input type="text" name="apellido"/></p>
    <p>Username: <input type="text" name="username"/> </p>
    <p>Contraseña: <input type="password" name="password"/> </p>
    <p>Repite tu contraseña: <input type="password" name="repeat_password"/></p>
    <p><input type="submit" value="Sign In"/>
    </p>
    </form>
  </div>
</div>

<div id="right">
  <div id="immagenRengistro">
    <img src="{% static 'images/registro.png' %}" width="200px" height="200">
  </div>
</div>

{% endblock %}
